* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(75deg, hsl(234deg 30% 80%), hsl(34deg 30% 80%));
  background-size: cover;
  min-height: -moz-fit-content;
  min-height: fit-content;

}

#app {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

input, button {
  border-radius: 0.5em;
}
label, input {
  margin-bottom: 0.5rem;
  padding: 0.25em;
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
}